.activeBtnTop {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.activeBtnMid {
  opacity: 0;
}

.activeBtnBot {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes activeNavigation {
  0% {
    display: none;
    left: 100%;
  }
  1% {
    display: block;
  }
  5% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes activeNavigation {
  0% {
    display: none;
    left: 100%;
  }
  1% {
    display: block;
  }
  5% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes deactiveNavigation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes deactiveNavigation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

nav .navListActive {
  display: block;
  -webkit-animation: activeNavigation 1s forwards;
          animation: activeNavigation 1s forwards;
}

nav .navListDeactive {
  -webkit-animation: deactiveNavigation 1s forwards;
          animation: deactiveNavigation 1s forwards;
}

.Spyscroll .activeMenu {
  opacity: 1;
}

@-webkit-keyframes bounceArrow {
  0% {
    bottom: 40px;
  }
  10% {
    bottom: 0px;
  }
  20% {
    bottom: 37.85px;
  }
  30% {
    bottom: 0px;
  }
  40% {
    bottom: 33.23px;
  }
  50% {
    bottom: 0px;
  }
  60% {
    bottom: 23.29px;
  }
  70% {
    bottom: 0px;
  }
  80% {
    bottom: 1.91px;
  }
  90% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes bounceArrow {
  0% {
    bottom: 40px;
  }
  10% {
    bottom: 0px;
  }
  20% {
    bottom: 37.85px;
  }
  30% {
    bottom: 0px;
  }
  40% {
    bottom: 33.23px;
  }
  50% {
    bottom: 0px;
  }
  60% {
    bottom: 23.29px;
  }
  70% {
    bottom: 0px;
  }
  80% {
    bottom: 1.91px;
  }
  90% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}

.bunceArrow {
  -webkit-animation: 2.8s bounceArrow infinite .5s;
          animation: 2.8s bounceArrow infinite .5s;
}

#Home .animationHomeHeader {
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 4s 0.5s, left 2s;
  transition: opacity 4s 0.5s, left 2s;
}

.animationHeaderLeft {
  left: 0;
  opacity: 1;
}

.animationHeaderRight {
  right: 0;
  opacity: 1;
}

.lineCenter {
  left: 50% !important;
  opacity: 1 !important;
}

.t1 {
  -webkit-transition: 0.5s 1.45s;
  transition: 0.5s 1.45s;
}

.t2 {
  -webkit-transition: 0.5s 1.35s;
  transition: 0.5s 1.35s;
}

.t3 {
  -webkit-transition: 0.5s 1.25s;
  transition: 0.5s 1.25s;
}

.t3 {
  -webkit-transition: 0.5s 1.15s;
  transition: 0.5s 1.15s;
}

.t4 {
  -webkit-transition: 0.5s 1.05s;
  transition: 0.5s 1.05s;
}

.t5 {
  -webkit-transition: 0.5s .95s;
  transition: 0.5s .95s;
}

.t6 {
  -webkit-transition: 0.5s .85s;
  transition: 0.5s .85s;
}

.t7 {
  -webkit-transition: 0.5s .75s;
  transition: 0.5s .75s;
}

.t8 {
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

.opacity {
  opacity: 1 !important;
  -webkit-transition: 0.8s 2s;
  transition: 0.8s 2s;
}
/*# sourceMappingURL=animation.css.map */