* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.scrollFix::before {
  display: block;
  position: relative;
  content: '';
  width: 100vw;
  height: 50px;
  margin-top: -100px;
  z-index: -1;
}

.textHeader .lineDecoration {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 10px 0;
  border-bottom: 3px solid #b91616;
}

.textHeader .lineDecoration::after {
  display: block;
  position: absolute;
  content: '';
  width: 3px;
  height: 28px;
  bottom: -2px;
  -webkit-transform: skew(-13deg);
          transform: skew(-13deg);
  background-color: #b91616;
}

.textHeader h2 {
  font-family: "Raleway", sans-serif;
}

.textHeader p {
  padding: 5px 20px;
  letter-spacing: 0.8px;
  text-align: justify;
  color: #444444;
}

#Tablet {
  display: none;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .navMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  z-index: 2;
}

nav .navMenuBtn {
  position: absolute;
  right: 15px;
  height: 45px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}

nav .lineMenu {
  height: 2px;
  width: 23px;
  margin: 6px;
  background-color: #b91616;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .lineMid {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .navList {
  display: none;
  position: relative;
  top: 0;
  left: 100%;
  width: 100%;
  height: 110vh;
  padding-top: 50px;
  background-color: #363535;
  z-index: 1;
}

nav ul {
  font-size: 0;
  padding-left: 10px;
}

nav li {
  font-size: 1rem;
  list-style: none;
  -webkit-transition: 1s;
  transition: 1s;
}

nav li a {
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
  text-decoration: none;
  color: #ffffff;
}

nav li .activeMenu {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #b91616;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

nav li .activeMenu::before {
  display: block;
  position: absolute;
  bottom: 0px;
  content: '';
  height: 25px;
  width: 2px;
  background-color: #b91616;
}

nav li .activeMenuLeft::before {
  left: 1px;
  -webkit-transform: skew(-13deg);
          transform: skew(-13deg);
}

nav li .activeMenuRight::before {
  right: 1px;
  -webkit-transform: skew(13deg);
          transform: skew(13deg);
}

nav .mobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  z-index: 2;
}

nav .mobile .icons {
  margin: 10px;
}

nav .mobile a {
  padding: 5px;
  font-size: 1.2rem;
  color: #fff;
}

#Home {
  padding-bottom: 50px;
}

#Home .homeImgHero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-attachment: fixed;
  background-image: url("../image/backgroundSmall.jpg");
}

#Home .homeImgShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000e6;
}

#Home .homeImgText {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  color: #aaa;
}

#Home .homeArrowBot {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

#Home .homeArrowBot a {
  padding: 10px;
  font-size: 1.5rem;
  color: #ffffff;
}

#TenisCentrum {
  padding-bottom: 50px;
}

#TenisCentrum .lineDecoration {
  padding-right: 15px;
}

#TenisCentrum .lineDecoration::after {
  right: 2px;
  -webkit-transform: skew(13deg);
          transform: skew(13deg);
  background-color: #b91616;
}

#TenisCentrum .gridContainer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  min-height: 50vw;
  margin: 10px 0;
  padding: 10px 10px;
}

#TenisCentrum a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#TenisCentrum .CourtsGalery {
  position: relative;
  max-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-clip-path: polygon(15% 0px, 100% 0px, 85% 100%, 0px 100%);
          clip-path: polygon(15% 0px, 100% 0px, 85% 100%, 0px 100%);
}

#TenisCentrum .GaleryImgFirst {
  left: 15%;
}

#TenisCentrum .GaleryImgSecond {
  left: 5%;
}

#TenisCentrum .GaleryImgThird {
  left: -5%;
}

#TenisCentrum .GaleryImgFour {
  left: -15%;
}

#Personel {
  background-color: none;
  padding-bottom: 50px;
}

#Personel .lineDecoration {
  padding-left: 15px;
}

#Personel .lineDecoration::after {
  left: 2px;
  -webkit-transform: skew(-13deg);
          transform: skew(-13deg);
  background-color: #b91616;
}

#Personel .about {
  position: relative;
}

#Personel .about .btnArr {
  position: absolute;
  right: 10%;
  padding: 5px;
  background-color: transparent;
  color: #ffffff;
  font-size: 2rem;
}

#Personel .about .farTop {
  bottom: 210px;
}

#Personel .about .farBot {
  bottom: 0px;
}

#Personel .aboutHeader {
  color: #444;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#Personel .aboutItem {
  height: 250px;
}

#Personel .aboutPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

#Personel .aboutPhoto img {
  max-height: 100%;
  max-width: 100%;
  -webkit-clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 9% 100%);
          clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 9% 100%);
}

#Personel .aboutTextBackground {
  margin: 0 5px;
  overflow: auto;
  scroll-behavior: smooth;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(9% 0%, 100% 0%, 91% 100%, 0% 100%);
          clip-path: polygon(9% 0%, 100% 0%, 91% 100%, 0% 100%);
}

#Personel .aboutTextBackground .aboutText {
  min-height: 100%;
  padding: 10px 10% 20px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.75);
}

#Personel .aboutTextBackground .aboutText span {
  font-weight: bold;
  color: #ffffff;
}

#Personel .aboutTextBackground .aboutText p {
  color: #ffffff;
}

#Price {
  padding: 0 10px;
  padding-bottom: 50px !important;
}

#Price .lineDecoration {
  padding-right: 15px;
}

#Price .lineDecoration::after {
  right: 3px;
  -webkit-transform: skew(13deg);
          transform: skew(13deg);
  background-color: #b91616;
}

#Price .price {
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 9% 100%);
          clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 9% 100%);
}

#Price .priceImage {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0px 9%;
  z-index: -1;
}

#Price .priceText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 300px;
  padding: 20px 9%;
  text-align: justify;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  color: #cccccc;
  background-color: #000000b0;
}

#Price .priceText span {
  font-weight: bold;
  color: #ffffff;
}

#Price .priceText p {
  margin: 5px 0;
}

#Contact {
  padding-bottom: 50px;
  background-color: none;
}

#Contact .lineDecoration {
  padding-left: 15px;
}

#Contact .lineDecoration::after {
  left: 2px;
  -webkit-transform: skew(-13deg);
          transform: skew(-13deg);
  background-color: #b91616;
}

#Contact .contactItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 5px 20px;
  text-align: center;
  line-height: 1.4rem;
}

#Contact h4 {
  font-family: "Raleway", sans-serif;
  color: #444;
}

#Contact p {
  color: #666;
}

#Contact .contactText h4, #Contact .contactText p {
  padding: 2px;
}

#Contact .contactText .fas {
  color: #4169e1;
}

#Contact .contactText .ikonRow {
  position: relative;
  left: -5%;
}

#Contact .contactOpen {
  margin: 25px 0;
}

#Contact .contactOpen td {
  padding: 5px;
}

#Contact .contactMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vw;
  max-height: 470px;
  background: #b91616;
  background: linear-gradient(225deg, #b91616 0%, #000000 50%);
  -webkit-clip-path: polygon(0% 15%, 15% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 15%, 15% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%);
}

#Contact iframe {
  width: 90%;
  height: 90%;
  max-width: 470px;
}

.Regulaments {
  margin: 0 auto;
  text-align: center;
  background-color: none;
}

.Regulaments i {
  font-size: 1.5rem;
  padding: px;
  color: #b91616;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
/*# sourceMappingURL=main.css.map */